[user]
	email = baevra@gmail.com
	name = Roman Baev
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[core]
	ignorecase = false
